<div *ngIf="!course">
  <div class="error-message">
    <h2>
      Oops... it looks like course {{currentCourseID}} has not been assigned for teams by the professor.
    </h2>
    <br>
    <button class="ui  floated labeled icon button" (click)="goBack()">
      View My Team
      <i class="arrow left icon"></i>
    </button>
  </div>
</div>
<div *ngIf="course" class="ui segments">
  <div class="ui segment">
    <div class="ui grid" style="margin-bottom: 10px;">
      <div class="four column row">
        <div class="left floated column">
          <h1 style="margin-bottom: 0px;">
            Course: {{currentCourseID}}
          </h1>
        </div>
        <div class="right floated column">
          <button class="ui black right floated button" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>
    <button class="ui left floated primary button left labeled icon" (click)="goBack()">
      <i class="arrow left icon"></i>
      View other courses
    </button>
    <button class="ui right floated labeled icon button" (click)="openProfileModal()">
      Create Team
      <i class="right plus icon"></i>
    </button>
    <button class="ui right floated labeled icon button" (click)="viewMyTeam()">
      View My Team
      <i class="right edit icon"></i>
    </button>
  </div>
  <br>
  <br>
  <div class="ui segment" *ngIf="!isTeamListEmpty">
    <div [suiCollapse]="collapse">
      <div *ngFor="let team of teamList" class="ui segment">
        <div class="ui grid">
          <div class="four column row">
            <div class="left floated column">
              <span>
                <h4 class="ui header">{{ team.teamName }}</h4>
              </span> <span>({{ team.teamMembers.length }}/{{ team.maximalNumber }})</span>
            </div>
            <div class="right floated column">
              <button class="ui right floated button" (click)="joinTeam(team)">Request to Join</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isTeamListEmpty" class="no-teams-to-join-message">
  <h3>
    Currently this course has no teams to join. You can create your own using the Create Team button in the top
    right
    corner.
  </h3>
  <br>
</div>

<ng-template let-context let-modal="modal" #createJobModal>
  <div class="content">

    <div class="ui large header">
      Create New Team
      <span class="right floated">
      </span>
    </div>
    <div class="ui clearing divider"></div>
    <form class="ui form" [formGroup]="newTeamForm">
      <div class="field">
        <label>Team Name</label>
        <input type="text" formControlName="teamName" placeholder="Your Team Name">
      </div>

      <div class="field">
        <label>Memebers (Only valid student IDs will be added)</label>
        <li *ngFor="let student of studentList_toAdd">
          {{ student }}
        </li>
        <br>
        <form class="ui form" [formGroup]="addMemberForm">
          <input type="text" formControlName="memberID" placeholder="Please enter student ID" style="width: 40%;">
          <button class="ui button primary" (click)="addTeamMember(addMemberForm.value)">Add Member</button>
        </form>
        <br>
      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui red button" (click)="modal.deny()" autofocus>Close</button>
    <button class="ui green button" (click)="modal.approve(newTeamForm.value)" autofocus>Create</button>
  </div>
</ng-template>

<ng-template let-context let-modal="modal" #alreadyPartOfTeamModal>
  <div class="content">
    {{joinJobModalMessage}}
  </div>
  <div class="actions">
    <button class="ui red button" (click)="modal.approve()" autofocus>Close</button>
  </div>
</ng-template>