.error-message {
    text-align: center;
    margin-top: 100px;
}

.no-teams-to-join-message {
    margin-top: 100px;
    text-align: center;
}

.go-back {
    margin-top: 0px !important;
    margin-bottom: 10px;
    cursor: pointer;
}

.cursor-hover {
    cursor: pointer !important;
}