<div *ngIf="currentUser;else loading">
  <div class="ui segment">
    <div class="ui grid" style="margin-bottom: 10px;">
      <div class="four column row">
        <div class="left floated column">
          <h1 style="margin-bottom: 0px;">
            Welcome professor {{currentUser.firstName}}
          </h1>
        </div>
        <div class="right floated column">
          <button class="ui black right floated button" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="ui container options">
  <div class="ui segment">
    <h2>Actions</h2>

    <button class="ui labeled icon button option-buttons" (click)="courses()">
      View My Courses
      <i class="right edit icon"></i>
    </button>

    <button class="ui labeled icon button option-buttons" (click)="openProfileModal()">
      Set Up Team Parameters
      <i class="right plus icon"></i>
    </button>
  </div>
</div>

<ng-template #loading>
  <div class="ui container" id="container-log-in">
    <h1 style="text-align: center; padding-top: 10px;"> You have not been authenticated </h1>
    <div class="ui basic segment">
      <button type="submit" (click)="routeToLogin()" class="ui fluid button instagram button-login"> click here to
        login</button>
    </div>
  </div>
</ng-template>


<ng-template let-context let-modal="modal" #applicantModal>
  <div class="content">

    <div class="ui large header">
      Set up parameters for Teams
      <span class="right floated">
      </span>
    </div>
    <div class="ui clearing divider"></div>

    <form class="ui form" [formGroup]="newCourseForm">
      <div class="field">
        <label>Course Id</label>
        <input type="text" formControlName="courseId" placeholder="Course id">
      </div>

      <div class="field">
        <label>Minimum Number In A Team</label>
        <input type="number" formControlName="minimalNumberInTeam" placeholder="Min">
      </div>

      <div class="field">
        <label>Maximum Number In A Team</label>
        <input type="number" formControlName="maximalNumberInTeam" placeholder="Max">
      </div>

      <div class="field">
        <label>Deadline For Team Formation</label>
        <input type="date" formControlName="deadlineFormation" placeholder="Deadline">
      </div>
    </form>

  </div>
  <div class="actions">
    <button class="ui red button" (click)="modal.deny()" autofocus>Close</button>
    <button class="ui green button" (click)="modal.approve(newCourseForm.value)" autofocus>Add</button>
  </div>
</ng-template>